@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --dark-blue: #023e8a;
    --light-grey: #f0f4f8;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust this for banner height */
    display: block;
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distorting its aspect ratio */
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for readability */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-logo {
    position: absolute;
    top: 10px; /* Adjust top spacing based on your design needs */
    left: 10px; /* Adjust left spacing based on your design needs */
    height: 100px; /* Adjust size as needed */
    width: auto;
}


h1 {
    margin: 0;
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#mission {
    background-color: white;
    color: var(--dark-blue);
    text-align: center;
    padding: 2rem;
    border-bottom: 2px solid #ccc; /* Adds a light grey horizontal line */
}

#mission h2 {
    margin-top: 0;
    color: var(--dark-blue);
}

#mission p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 800px; /* Ensures the text does not span too wide */
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 2rem;
    max-width: 960px; /* Sets an overall max width for each section */
    margin: auto; /* Centers the section horizontally */
}

#about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 2rem;
    background-color: #f0f4f8; /* Optional: background color for the section */
}

.about-img {
    flex: 1 1 20%; /* Adjusts the size of the image */
    max-width: 200px; /* Limits how large the image can grow */
    height: auto;
    margin-right: 20px;
}

.about-content {
    flex: 1 1 60%; /* Adjusts the size of the text container */
    max-width: 800px;
}

#about-us h2 {
    color: var(--dark-blue);
    margin-bottom: 0.5em;
}

#about-us p {
    font-size: 1.1em;
    line-height: 1.6;
    color: var(--dark-blue);
}

#investment-strategy {
    display: flex;
    align-items: center; /* Centers the items vertically */
    justify-content: center; /* Centers the layout horizontally */
    text-align: left;
    padding: 2rem;
    background-color: var(--dark-blue);
    color: var(--light-grey);
}

.content-left {
    flex: 1 1 60%; /* Text container sizing */
    max-width: 600px;
    padding-right: 20px; /* Increased right padding for better separation */
}

.section-img-right {
    flex: 1 1 40%; /* Image sizing */
    max-width: 300px; /* Adjusted max-width for better fit */
    height: auto;
    margin-left: 20px; /* Increased left margin for more space between text and image */
}

#investment-strategy h2{
    color: #f0f4f8; /* Light text color for visibility against dark background */
    margin-bottom: 0.5em;
}

#investment-strategy p{
    font-size: 1.1em;
    line-height: 1.6;
    color: #f0f4f8;
}

#consulting {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 2rem;
    background-color: #f0f4f8;  /* Matches About Us background */
    color: var(--dark-blue);
}

.consulting-img {
    flex: 1 1 40%;
    max-width: 300px;
    height: auto;
    margin-right: 20px;
}

.consulting-content {
    flex: 1 1 60%;
    max-width: 800px;
}

#consulting h2 {
    color: var(--dark-blue);
    margin-bottom: 0.5em;
}

#consulting p {
    font-size: 1.1em;
    line-height: 1.6;
    color: var(--dark-blue);
}

@media (max-width: 768px) {
     #investment-strategy .section-img-right, #consulting .consulting-img {
        display: none; /* Hides the images on small screens */
    }
    #about-us, #investment-strategy, #consulting {
        flex-direction: column;
        align-items: center;
    }

    .about-img, .section-img-right, .consulting-img {
        width: 80%; /* Adjust width as needed for better visual appearance */
        height: auto; /* Ensures the height adjusts appropriately */
        object-fit: contain; /* Maintains the aspect ratio without filling the entire container */
        margin: 20px 0; /* Reduces vertical spacing if necessary */
        display: block; /* Ensures images are treated as block-level elements with auto margins */
        margin-top: 10px; /* Reduces top margin */
        margin-bottom: 10px; /* Reduces bottom margin */
    }

    .about-content, .content-left, .consulting-content {
        max-width: 90%; /* Adjusts text container width for smaller screens */
        text-align: center; /* Centers text */
        padding: 0 10px; /* Adds padding for readability */
    }
}

@media (max-width: 768px) {
    #investment-strategy .section-img-right, #consulting .consulting-img {
        width: 100%; /* Ensures the image fills the width of the screen */
        height: 150px; /* Sets a fixed height, adjust as needed */
        object-fit: cover; /* Ensures the image covers the area, cropping vertically as needed */
        margin-top: 0;
        margin-bottom: 20px; /* Provides some space below the image */
    }
}

#contact {
    background-color: var(--dark-blue);
    color: var(--light-grey);
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h2 {
    margin-bottom: 20px;
}

#contact form {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

#contact label {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #f0f4f8;
    text-align: left;
}

#contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    border-radius: 4px;
}

#contact input[type="submit"] {
    background-color: #023e8a;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact input[type="submit"]:hover {
    background-color: #005f73;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
    width: 100%; /* Make the textarea take the full width of its container */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    border-radius: 4px;
    resize: vertical; /* Allow resizing only vertically */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
}
